* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}



/*INIZIO HEADER*/
header {
    padding-top: 15px;
    margin: 20px;
    margin-bottom: 0;
    border-bottom: 1px solid lightgray;
}

.logo {
    display: flex;
}

.logo img {
    width: 90px;
    height: auto;
}

.logo span {
    line-height: 30px;
    font-size: 20px;
    padding-left: 12px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}
/*FINE HEADER*/



/*INIZIO MAIN*/
main {
    margin-top: 100px;
    margin-left: 350px;
    margin-right: 350px;
}

.testo h3 {
    font-size: 26px;
}

.testo p {
    margin-top: 20px;
    margin-bottom: 30px;
}
/*FINE MAIN*/